$accentColor1 : blue;
$accentColor2 : green;

* {
  box-sizing: border-box;
}

html, body {
  height:100%;
  width:100%;
  margin:0 ;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

body {
  //position: relative;
  background-color: $accentColor1;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#show {
  width: 100%;
  background-color: red;
  flex: 1;
  display: flex;
  justify-content: center;

  #show__container {
    position: relative;
    max-width: 1300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    #cover {
      max-width: 300px;
    }

    #meta {
      position: absolute;
      bottom: 30px;
      left: 40px;

      & > p {
        margin: 10px 0;
      }


      #title {
        font-size: 2rem;
        font-weight: 600;
      }

      #artist {
        font-size: 1.5rem;
      }
    }
  }




}

#panel {
  background-color: $accentColor2;
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  #file-button {
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
  }

}
