$accentColor1 : white;
$accentColor2 : black;


/*Media queries*/

$mobile : 320px;



/*keyframe*/

@keyframes cover-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Work Sans', sans-serif;
}

html, body {
  height:100%;
  width:100%;
  margin:0 ;
  padding: 0;
}

/*body {
  position: relative;
}*/

#drop-zone {
  display: flex;
  justify-content: center;
  align-items : center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  transition: 0.6s;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.70);

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}


#show {
  width: 100%;
  background-color: $accentColor1;
  flex: 1;
  display: flex;
  justify-content: center;

  #show__container {
    position: relative;
    max-width: 1300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #cover {
      display: none;
      width: 13rem;
      border-radius: 50%;

      animation-name: cover-rotate;
      animation-duration: 15s;
      animation-play-state: running;
      animation-iteration-count: infinite;
      animation-timing-function: linear;


    }
    
    audio {
      display: none;
    }
    
    

    #meta {
      position: absolute;
      top: 20px;
      left: 40px;

      & > p {
        margin: 10px 0;
      }

      #title {
        font-size: 1.6rem;
        font-weight: 600;
      }

      #artist {
        font-size: 1.3rem;
        font-weight: 500;
      }
    }
  }


}


#timeline {
  background-color: $accentColor1;
  width: 100%;
  height: 25px;
  cursor: pointer;

  #timeline-progress {
    height:100%;
    background-color: $accentColor2;
    width: 0;
    transition: all 1.2s ease;
  }
}

#panel {
  background-color: $accentColor2;
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    border: 0;
    padding: 0;
    margin: 0 1rem;
    border-radius: 50%;
    background-color: transparent;
    text-decoration: none;
    font-size: 2.7rem;
    width: auto;
    cursor: pointer;
    outline: none;
    color: $accentColor1;

    &[class^='icon-control-'] {
      font-size: 3.6rem;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 6rem;
    height: 4px;
    margin: 0 0.2rem 0 0.2rem;
    border: none;
    //padding: 1px 2px;
    border-radius: 10px;
    background-color: $accentColor1;
    outline: none;
    cursor: pointer;


    &::-moz-range-track {
      border: inherit;
      background: transparent;
    }

    &::-ms-track {
      //border: inherit;
      //width:6rem;
      //height: 20px;
      color: transparent;
      background-color: transparent;
      border-color: transparent;
      //border-width: 20px 0;
    }

    &::-ms-fill-lower {
      background: transparent;
      border-radius: 10px;
    }

    &::-ms-fill-upper {
      background: transparent;
      border-radius: 10px;
    }


    &::-ms-tooltip {
      display: none;
    }

    /* thumb */


    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background-color: $accentColor1;

    }


    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background-color: $accentColor1;
    }

    &::-ms-thumb {
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accentColor2;
    }
  }




}
