$accentColor1 : white;
$accentColor2 : black;


/*Media queries*/

$mobile : 320px;



/*keyframe*/

@keyframes cover-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



* {
  box-sizing: border-box;

  //Supprime surbrillance element touch
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
}

html, body {
  height:100%;
  width:100%;
  margin:0 ;
  padding: 0;
}

audio {
  display: none;
}


#drop-zone {
  display: flex;
  justify-content: center;
  align-items : center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: 0.6s;

  font-size: 3rem;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.70);

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}


#show {
  width: 100%;
  background-color: $accentColor1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #show-help {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $accentColor1;
    background-color: $accentColor2;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1.4rem;


  }

  #show-container {
    position: relative;
    max-width: 1440px;
    width: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    #cover {
      display: none;
      width: 13rem;
      border-radius: 50%;

      margin-top: 2rem;

      animation-name: cover-rotate;
      animation-duration: 15s;
      animation-play-state: paused;
      animation-iteration-count: infinite;
      animation-timing-function: linear;


    }

    

    #meta {
      position: absolute;
      top: 1.5rem;
      left: 3rem;


      & > p {
        margin: 0.8rem 0;
      }

      #title {
        font-size: 1.7rem;
        font-weight: 600;
      }

      #artist {
        font-size: 1.4rem;
        font-weight: 500;
      }

      #album {
        display: none;
      }

      #year {
        display: none;
      }

      #current-time {
        display: none;
      }

      #duration {
        display: none;
      }


    }
  }

}


#timeline {
  background-color: $accentColor1;
  width: 100%;
  height: 25px;
  cursor: pointer;

  #timeline-progress {
    height:100%;
    background-color: $accentColor2;
    width: 0;
    transition: all 1.2s ease;
  }
}

#panel {
  background-color: $accentColor2;
  color: $accentColor1;
  width: 100%;
  height: 120px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;

    & > * {
      padding: 0;
      margin: 0 1rem;
      cursor: pointer;
      color: inherit;
      outline: none;

    }

    button, a {
      border-radius: 50%;
      background-color: transparent;
      text-decoration: none;
      font-size: 3.6rem;
      border: 0;

      &[class^='icon-control-'] {
        font-size: 5.2rem;
      }
    }

    &#control {
      margin-bottom: 5px;
    }

    &#soundcloud {
      margin-top: 5px;

      div {
        position: relative;
        margin : 0;
        border-radius: 0;

        &::after {
          position: absolute;
          bottom: -4px;
          content: '';
          background-color: $accentColor1;
          width:100%;
          height: 3px;
          border-radius: 1px;

        }

        input {
          font-size: 1.3rem;
          border: 0;
          width: 170px;
          color: inherit;
          background-color: transparent;
          outline: none;

          &::-webkit-input-placeholder {
            color: $accentColor1;
            opacity: 0.5;

          }

          &::-moz-placeholder {
            color: $accentColor1;
            opacity: 0.5;
          }

          &:-ms-input-placeholder {
            color: $accentColor1;
            opacity: 0.5;
          }

        }
      }
    }
  }


  input[type="range"] {

    display: none;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 6rem;
    height: 4px;
    margin: 0 0.2rem 0 0.2rem;
    border: none;
    //padding: 1px 2px;
    border-radius: 10px;
    background-color: $accentColor1;
    outline: none;
    cursor: pointer;


    &::-moz-range-track {
      border: inherit;
      background: transparent;
    }

    &::-ms-track {
      //border: inherit;
      //width:6rem;
      //height: 20px;
      color: transparent;
      background-color: transparent;
      border-color: transparent;
      //border-width: 20px 0;
    }

    &::-ms-fill-lower {
      background: transparent;
      border-radius: 10px;
    }

    &::-ms-fill-upper {
      background: transparent;
      border-radius: 10px;
    }


    &::-ms-tooltip {
      display: none;
    }

    /* thumb */


    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background-color: $accentColor1;

    }


    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background-color: $accentColor1;
    }

    &::-ms-thumb {
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accentColor2;
    }
  }




}
